@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo">Jingle Escape</h1> 

<div class="imagenes_centradas" >
    <img src="/imagenes/img1.png" height=250em>  
    <img src="/imagenes/img2.png" height=250em margin-left=2em>
    <img src="/imagenes/img3.png" height=250em margin-left=2em>
</div>

<br>

<div class="links"> <!-- HACER DIVS PARA CADA IMAGEN Y PONERLES LOS URL.ACTION -->
    <mark><a href='@Url.Action("Tutorial")'>Tutorial</a></mark>
    <mark><a href='@Url.Action("Comenzar")' margin-left=50em>Jugar</a></mark>
    <mark><a href='@Url.Action("Creditos")' margin-left=50em>Créditos</a></mark>
</div>

