<h1 class="titulo">Oficina de Papá Noel</h1>

<div class="acertijos">
    <h3>@ViewBag.acertijo</h3>
    <img src="/imagenes/mesa_ratona.png">

    <br>
    <form action='@Url.Action("Habitacion")' method="post">
        <input type="hidden" name="sala" value="0">
        <input type="password" name="clave" placeholder="Respuesta"><br>
        <input type="submit" value="Enviar">
    </form> 
</div>