@if(ViewBag.sala != 3)
{   
    <div class="transicion">
    <h1 class="titulo">Lo Lograste!</h1>
    <h3>@ViewBag.texto</h3> 
    <img src="/imagenes/@ViewBag.gif" width=450em>
    <form action='@Url.Action("Transicion")'>
    <input type="submit" value="Proxima sala">
    </form>
    </div>
}
else
{
    <div class="transicion">
        <h1 class="titulo">Victoria!</h1>
        <h3>@ViewBag.texto</h3>
        <img src="/imagenes/@ViewBag.gif" width=450em>
    </div>
}