<h1 class="titulo">Tutorial</h1>

<h3>Elegimos una tématica de navidad, en la que Papá Noel te secuestró y vos tenés que intentar escapar (o enfrentar tu destino como elfo ayudante)</h3>

<h3>Tendrás que pasar por cuatro salas con distintos acertijos, si pones la respuesta correcta podrás ir a la siguiente. Tenés tantas oportunidades como regalos Papá Noel reparte en una noche (una cantidad imposible)</h3>

<div class="links">
    <mark style="float:left; font-size:0.5em;"><a href='@Url.Action("Index")'>Atrás</a></mark>
</div>